<h1><%= hamac.name %></h1>


<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= image_tag hamac.photo.url %>
      <%= hamac.price %>
    </div>
    <div class="col-xs-6">
      <%= hamac.disponibility %>
      <%= hamac.address %>
    </div>
    <div class="col-xs-12">
      <%= hamac.description %>
    </div>
  </div>
</div>
