
<!-- #big home photo -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'home-page.jpg'%>) ">
  <div class="banner-content">
    <h1>Discover the best place to rest in a Hamac</h1>
    <p> discover our best hamacs</p>
    <div class="searchbar-flex">
      <form method="get" action="/hamacs" class="search_form-flex">
        <div class="search_input-flex">
          <label for="hamac_name" id="label_city">Where?</label>
          <input type="text" id="search" name="search" placeholder="hamacs location" id="hamac_name">
        </div>
        <div class="search_input-flex">
          <input type="submit" value="Search"  class=" btn-danger">
        </div>
      </form>
      <%= link_to 'List all hamacs', hamacs_path %>
    </div>
  </div>
</div>

<!-- #suggestion carts -->
<div class="wrapper">
  <h1 class="text-center">Some Hamacs Suggestions</h1>
    <div class="container">
      <div class="row">
        <% @hamacs.each do |hamac| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <%= link_to hamac_path(hamac) do %>
                <h3 class="card-name"><%= hamac.name %></h3>
                <p class="card-price"><%= hamac.price %> €</p>
                <div class="card-photo-background">
                  <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path hamac.photo, height: 400, width: 400, crop: :fill %>');">
                    <div class="card-category">
                      <% if hamac.disponibility %>
                        <span class="label label-success">Available</span>
                      <% else %>
                        <span class="label label-danger">Not available</span>
                      <% end %>
                    </div>
                  </div>
                </div>
                <!-- <img src="images/papillard.jpeg" class="avatar"> -->
              <p class="card-address"><%= hamac.address %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>





