<div class="wrapper">
  <div class="card" style="width: 30rem;">
    <div class="show_card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @hamac.photo, height: 300, width: 400, crop: :fill %>');">
      <div class="show_card-dispo">
          <% if @hamac.disponibility %>
            <span class="label label-success">Available</span>
          <% else %>
            <span class="label label-danger">Not available</span>
          <% end %>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%=@hamac.name %></li>
      <li class="list-group-item"><%=@hamac.description%></li>
      <li class="list-group-item"><%=@hamac.price%> €</li>
      <li class="list-group-item"><%=@hamac.address%></li>
      <!-- /!\ NEED TO DO THE PATH TO THE BOOKING -->
      <a href="#" class="btn-medium">Book now</a>
    </ul>
  </div>
</div>

